.red-button {
    background-color: red;
    color: white;
    font-family: arial;
    font-size: 30px;
    border: none;
    width: 200px;
}

button: hover


/*
MY COLOR PALETTE
Color 1 - #HEXEE964B
Color 2 - #HEXCB769E
Color 3 - #HEX6D1A36
Color 4 - #HEXA3F7B5
Color 5 - #HEX394F49
*/

h2 {
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: 400;
    font-style: normal;
}
