#topper {
    background-color: aqua;
}

#headshot {
    width: 100%;
    border-radius: 45px;
    border: 8px solid #f0edee;
}

h1 {
  font-family: "Oi", serif;
    letter-spacing: 0.3px;
    color: blue;
}

.job {
    font-weight:bold;
}

img {
    width:100%;
}