#topper {
    background-color: aqua
    background-image: url()
}

#headshot {
    width: 100%; 
    border-radius: 45px;
    border: 8px solid #f0edee;
}


h1 {font-family: "Host-Grotesk", sans-serif;
    letter-spacing: -.7px;
    font-weight: bold;
    text-transform: uppercase;
    color: blue}

.job {
    
}